<div id="main">
  <div class="inner">
    <section class="tiles">
      <% @works.each do |work|%>
      <article class="style1">
        <span class="image">
          <% @images_cover.each do |image|%>
            <%if work.id == image.work_id && image.cover == "true" %>
              <img src="<%=  image.image.url(:thumb) %>" alt="" />
            <%end %>
          <%end %>

        </span>
        <a>
          <h2 class="work_title"><%= work.title %></h2>
        </a>
      </article>
      <% end%>
    </section>
  </div>
</div>
