<div id="main">
  <div class="inner">
    <section class="tiles">
      <% binding.pry %>
      <% @works.each do |work|%>
      <article class="style1">
        <span class="image">
          <img src="<%= work.images[0].image.url(:thumb) %>" alt="" />

        </span>
        <a>
          <h2 class="work_title"><%= work.title %></h2>
        </a>
      </article>
      <% end%>
    </section>
  </div>
</div>
