<div id="main">
  <div class="inner">
    <section class="tiles">
      <article class="style1">
        <span class="image">
          <img src="images/pic01.jpg" alt="" />
        </span>
        <a href="generic.html">
          <h2>Magna</h2>
        </a>
      </article>

    </section>
  </div>
</div>
