<div id="main">
  <h1 class="sono-alberto-e-faccio" >Sono Alberto e <font color="#ff430c">costruisco cose.</font> </h1>
  <h3 class="bio">Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas faucibus mollis </h3>
  <ul id="rig">
  <% @works.each do |work|%>
  <% @images_cover.each do |image|%>

    <%if work.id == image.work_id && image.cover == "true" %>

    <li class="blur">
        <a class="rig-cell" href="#">
          <span class="rig-text"><%=work.title %></span>
            <img  class="rig-img" src="<%=  image.image.url(:thumb) %>"/>
            <span class="rig-overlay"></span>
        </a>
    </li>


  <%end %>
  <%end %>
  <%end %>
  </ul>
</div>
