<div id="main">
  <div class="inner">
  </br></br></br></br></br>
    <h1> Pannello di Controllo </h1>

    <table style="width:100%">
  <tr>
    <th>ID</th>
    <th>TITLE</th>
    <th>DATA CREAZIONE</th>
    <th>ELIMINA</th>
  </tr>

    <%@works.each do |work|%>
  <tr>
    <td> <%=work.id%> </td>
    <td> <%=work.title%> </td>
    <td> <%=work.created_at%> </td>
    <td> <%= button_to "delete", {:controller => :works,
      :action => 'destroy', :id => work.id }, :method => :delete %> </td>
  </tr>
<%end%>
</table>



  </div>
</div>
