.photo_open {
  z-index: 4;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 60%;
  margin-top: 4%;
  margin-left: 20%;
  margin-right: 20%;
}

.overlay_photo{
  z-index: 3;
  background: rgba(0, 0, 0, 0.28);
  position: fixed;
  display: inherit;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 100%;
}
