@font-face {
  font-family: 'Bariol';
  src:url('/assets/Bariol.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src:url('/assets/Montserrat-Bold.otf');
  font-weight: normal;
  font-style: normal;
}
/*header*/

div#message_box {
  width: 40%;
  background: #ff3f06;
  position: fixed;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 50%;
  border-radius: 58px;
  z-index: 4;
}

h3#vertical {
    font-family: Montserrat-Bold;
    text-transform: capitalize;
    font-size: large;
    margin: 0px;
}

#main{
  width: 82% ;
  margin-right: 9%;
  margin-left: 9%;
  margin-bottom: 4.5%;
}

.rectangle {
  width: 100%;
  height: 223px;
  background-color: #0b3640;
}

.logo {
  width: 39.7px;
  height: 49.9px;
  top: 85px;
  left: 11%;
  position: relative;

}

.button_contact_me {
  position: absolute;
  top: 92px;
  right: 136px;
  width: 140px;
  height: 40px;
  background: #ff3f06;
  border-radius: 61px;
  cursor: pointer;
}

.contact_me {
  font-family: Bariol;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1.9px;
  color: #ffffff;
  text-transform: none;
  margin: 0;
  position: relative;
  top: 9px;
}
/*END header*/

/*Main*/



.sono-alberto-e-faccio{
  position: relative;
  font-family: Montserrat-Bold;
  font-size: 37px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: #0b3640;
  width: 610px;
  left: 20px;
}

.bio{
  margin-bottom: 0px;
  font-family: Bariol;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: 1.3px;
  color: #394e53;
  width: 70%;
  text-transform: none;
  position: relative;
  left: 20px;
}

/*END Main*/

/*index*/

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}


/*end index */

/*footer */

img.icon_social {
    height: 30px;
    position: relative;
    top: 2.5px;
}

h1.footer {
    width: auto;
}

/*end footer */

/*tablet*/

@media screen and (max-width: 798px) {
  .bio{
    margin-bottom: 20px;
  }

  .sono-alberto-e-faccio{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 30px;
    left: inherit;
    font-weight: 500;
    text-align: center;
  }
}


@media screen and (max-width: 643px) {


  .logo{
    width: 80%;
    margin-left: 10% !important;
    margin-right: 10% !important;
    top: 43px !important;
    left: inherit;
  }

  .img_logo{
    width: 100%;
  }


  .button_contact_me {
    height: 16%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 15%;
    width: 40%;
    top: inherit;
    right: inherit;
    left: inherit;
    position: relative;
  }

  .bio{
    margin-left: 15%;
    margin-right: 15%;
    width: auto;
    left: inherit;
  }
}

@media screen and (max-width: 425px) {
  #main{
    padding-top: 47px;

  }

  .sono-alberto-e-faccio{
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
}


/*BLUR*/
.blur img {
  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

.blur img:hover {
  -webkit-filter: blur(2px);
}
